<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="gsbrapports2023Entities" connectionString="metadata=res://*/mdGsbrapports.csdl|res://*/mdGsbrapports.ssdl|res://*/mdGsbrapports.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=rayansqlexpress;initial catalog=gsbrapports2023;user id=rayan;password=rayan;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="gsbrapports2016Entities" connectionString="metadata=res://*/mdlGsbrapport.csdl|res://*/mdlGsbrapport.ssdl|res://*/mdlGsbrapport.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=khelil\;initial catalog=gsbrapports2016;user id=khelil;password=khelil;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="gsb2023Entities" connectionString="metadata=res://*/modelGsbrapport.csdl|res://*/modelGsbrapport.ssdl|res://*/modelGsbrapport.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=RAYANSQLEXPRESS;initial catalog=gsb2023;user id=rayan;password=rayan;encrypt=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>